html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgba(238, 229, 222, 0.4);
}

h1,h2,p,h3,ul,h4 {
	font-family: 'open sans condensed', sans-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	line-height: 140%;
	font-size: 1.2rem;
}

#introduction, #bio, #web {
	margin:0 20% 0 20%;
	padding: 1rem;
	border-left:1px solid lightgray;
	border-right: 1px solid lightgray;
	background-color:#ffffff; 

}

@media screen and (max-width: 1170px)  {
	#introduction, #bio, #web {
		margin:0 10% 0 10%;
	}
	
}

																/* Masthead */
.masthead {
	padding: 6rem;
	background: url("../img/background.jpg") no-repeat;
	background-position: top;
	background-size: cover;
	border-bottom: 2px solid lightgray;
	position: relative;
}

@media only screen and (max-width: 1170px) {
	.masthead {
		padding:6rem;
	}
}

.masthead .title {
	background-color: rgba(255,255,255, 0.7);
	margin:0 auto;
	border:0.4rem solid #444948;
	border-radius: 50%;
	height: 20rem;
	width: 20rem;
	top: 50%;
	position: relative;
	text-transform: uppercase;
	color: #444948;
	z-index: 20
}


.masthead .title  h1, .title h2 {
	text-align: center;
	position: relative;
	top: 30.05%;
	font-size: 3.5rem;
}

.masthead nav .content ul {
	float: left;
	position: fixed;
	z-index: 10;	
	width: 100%;
	margin:-6rem 0 0 -6rem;
	text-align: center;
	background-color: rgba(255,255,255, 0.7);
	z-index: 9999;
}

.masthead nav .content ul li {
	text-align: left;
	display: inline-block;
	padding: 0.7rem 10% 0.7rem 10%;
}

.masthead nav .content ul li a {
	text-decoration: none;
}

.masthead nav .content ul li a h3{
	font-weight: bold;
	color: #444948;
	font-size: 1.5rem;
}

.masthead nav .content ul li a h3:hover {
	cursor: pointer;
	color: gray;
}

@media only screen and (max-width: 1170px) {

	.masthead nav .content ul {
	float: left;
	position: fixed;
	z-index: 50;	
	width: 100%;
	margin:-6rem 0 0 -6rem;
	text-align: center;
	background-color: rgba(255,255,255, 0.7);

	}

	.masthead nav .content ul li {
		
		text-align: center;
		padding: 0 5% 0.5rem 5%;
		display: inline-block;
	}

	.masthead nav .content ul li a h3 {
		font-size: 2.5rem;
	}
}



															/* end of masthead */

#introduction {
	z-index: 20;
	position: relative;
}

#introduction .content {
	margin-top: 3rem;
}

#introduction .content h2 {
	border-bottom: 1px solid lightgray;
	margin: 1rem 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #444948;
}

#introduction .content h2 span {
	border-bottom: 1px solid #444948;
}

															/* BIO */
#bio {
	z-index: 20;
	position: relative;
}

#bio .content h2 {
	border-bottom: 1px solid lightgray;
	margin: 1rem 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #444948;
}

#bio .content h2 span {
	border-bottom: 1px solid #444948;
}
															/*         WEB      */
#web .content .project article {
	float: left;
	position: relative;
	padding: 6rem;
	border:0.4rem solid lightgray;
	border-radius: 50%;
	margin: 0 0 3rem 12%;
	z-index: 10
}

#web .content .project article a  {
	position: absolute;
	height: 204px;
	width: 204px;
	margin: -102px 0 3rem -102px;
}

@media only screen and (max-width: 1170px) {
	#web .content {
		margin: 0 0 38rem 0;
	}

	#web .content .project article {
		float: left;
		position: relative;
		padding: 10rem;
		border:0.4rem solid lightgray;
		border-radius: 50%;
		margin: 0 0 3rem 6%;
		z-index: 10
	}

	#web .content .project article a  {
	position: absolute;
	height: 332px;
	width: 332px;
	margin: -166px 0 3rem -166px;
}

	#web .content .project .karma .ktitle, .about .atitle {
		position: absolute;
		margin: -2rem 0 0 70%;
	}

	#web .content .project .karma .ktitle .karmatitle, .about .atitle .abouttitle {
		position: absolute;
		color:#444948;
		font-size: 3rem;
		line-height: 0rem;
		text-transform: uppercase;


	}

	#web .content .project .karma .ktitle .subkarmatitle, .about .atitle .metitle {
		position: absolute;
		color:#444948;
		font-size: 3rem;
		line-height: 7rem;
		text-transform: uppercase;
	}

}


#web {
	z-index: 20;
	position: relative;
}

#web .content {
	padding-bottom: 30rem;
}

#web .content h2 {
	border-bottom: 1px solid lightgray;
	margin: 1rem 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #444948;
}

#web .content h2 span {
	border-bottom: 1px solid #444948;
}


#web .content .project .karma {
	background: url('../img/bwkarma.jpg') no-repeat;
	background-size: cover;
	background-position: center;

}

#web .content .project .karma:hover {
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	background: url('../img/karma-clone.png') no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	border-color: #444948;
}

#web .content .project .times {
	background: url('../img/bwtimes.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

#web .content .project .times:hover {
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	background: url('../img/hackthetimes.png') no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	border-color: #444948;
}


#web .content .project .about {
	background: url('../img/bwme.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

#web .content .project .about:hover {
	-webkit-transition:all 0.5s ease-in;
	transition:all 0.5s ease-in;
	background: url('../img/me.png') no-repeat;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	border-color: #444948;
}







																/* Footer */
footer {
	padding: 4rem;
	background-color: rgba(68,73,72,0.3); 
	border-top: 2px solid lightgray;
	position: relative;
	z-index: 100;
}

footer .content h3 {
	text-align: center;
}

footer .content ul {
	text-align: center;
	margin: 0 auto;
	padding:2rem;
}

footer .content li {
	display: inline;
	margin-left: 1rem;

}

footer .content p {
	text-align: center;
	text-transform: uppercase;
}
